/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #333;
  color: #fff;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

h1 {
  letter-spacing: 1px;
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
}

.role {
  font-size: 250%;
  color: rgb(209, 209, 209);
}

.navbar {
  background-color: rgba(68, 68, 68, 0.5);
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 800px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

p {
  font-size: 1.25rem;
}

.content {
  padding-top: 2rem;
}


.demo a {
  color: white;
  background-color: deeppink;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
}

span {
  margin-left: 10px;
}

#main-skills {
  padding-bottom: 15px;
  padding-top: 15px;
  letter-spacing: 0.5px;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, .5);
}

.footer a {
  margin-right: 10px;
}