.intro {
    padding: 120px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

h1 {
    font-size: 4em;
}

#section {
    padding: 2em 0;
    padding: 120px 100px;
}

.intro__text {
    font-size: 3em;
    text-align: justify;
}

.intro__text__focus {
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

section {
    padding-bottom: 50px;
}

.small {
    text-transform: uppercase;
    color: gray;
}

.subsection__text {
    text-align: justify;
    padding: 30px 0;
}

.subsection__title {
    font-size: 1em;
}


.skills-title {
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    padding-inline-start: 0;
}

li {
   list-style-type: none;
   font-weight: 300;
}

footer {
    padding: 10px;
}

.footer__links a {
    margin-inline-end: 10px;
}